/*GRID ROW*/
/*

  
  */

#app{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 100vh;
    border: 2px solid green;
}

#app > div{
    border: 1px solid red;
    
}

#app > div:nth-child(1){
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: orange;
}

#app > div:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1/3;
    background-color: pink;
}

#app > div:nth-child(3){
    background-color: blue;
}

#app > div:nth-child(4){
    grid-row-start:3/2;
    grid-column-end: 4;
    background-color: green;
}